.header {
  display: flex;
  width: 100%;
  height: 6rem;
  background-color: var(--color-grey-900);
  align-items: center;
  padding: 0 30%;
  justify-content: flex-end;
}

.header a {
  color: var(--color-grey-100);
  font-size: 20px;
  margin-right: 24px;
}

.activeTab {
  font-size: 24px !important;
  color: var(--color-grey-50) !important;
}

@media (max-width: 768px) {
  .header {
    justify-content: center;
    height: 4em;
  }

  .header ul {
    gap: 0.5rem;
  }

  .header a {
    font-size: 16px;
    margin: 0 8px;
  }

  .activeTab {
    font-size: 20px !important;
  }
}
