.container {
  color: var(--color-grey-900);
}

.header {
  display: flex;
  flex-direction: column;
  color: var(--color-grey-900);
  margin: 40px 0;
  align-items: center;
}

.header h1 {
  margin: 24px auto;
}

.avatar {
  border: 2px solid var(--color-grey-900) !important;
  border-radius: 50%;
}

.content {
  background-color: var(--color-grey-800);
  border-radius: 16px;
  padding: 16px;
  color: var(--color-grey-100);
  margin-bottom: 40px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  border-radius: 6px;
  color: var(--color-grey-100) !important;
  background-color: var(--color-grey-900);
}

.button:hover {
  color: var(--color-grey-900) !important;
  background-color: var(--color-grey-100);
  border: var(--color-grey-900) solid;
}

.button:active {
  color: var(--color-grey-100) !important;
  background-color: var(--color-grey-900);
}

@media (max-width: 768px) {
  .header h1 {
    margin-left: 0;
  }

  .button {
    max-width: 100px;
  }
}

@media (max-width: 900px) {
  .header {
    display: block;
    text-align: center;
  }

  .button {
    max-width: 100px;
  }
}
